<div class="page-container">

  <h2 class="titulo">TAREFAS</h2>

  <label class="materia-label">Matéria </label>

  <select [(ngModel)]="materiaSelecionada" (change)="carregarTarefas()">
    @for (mat of materias; track mat.id) {
      <option [value]="mat.id">{{ mat.nome }}</option>
    }
  </select>

  <div class="tarefas-container">
    @for (t of tarefas; track t.id) {
      <div class="tarefa-card"
          [class.grupo]="t.maximoIntegrantes > 1"
          [class.individual]="t.maximoIntegrantes === 1"
          (click)="abrirDetalhes(t)">
        <div class="card-header">
          <h3 class="titulo-card">{{ t.titulo }}</h3>
            <button mat-icon-button class="more-btn" (click)="abrirDetalhes(t); $event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
        </div>
      <div class="info-grid">
        <span>{{ t.maximoIntegrantes > 1 ? 'Grupo até ' + t.maximoIntegrantes : 'Individual' }}</span>
        <span>{{ t.plataforma.nome || 'Sem plataforma' }}</span>
        <span class="dias">{{ diasRestantes(t.dataEntrega) }} dias</span>
      </div>
    </div>
    }
  </div>
<div class="fab" (click)="navegarParaCadastro()">
  <mat-icon>edit</mat-icon>
</div>

</div>
