@use '@angular/material' as mat;

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt-20 {
  margin-top: 20px;
}
.mt-60 {
  margin-top: 60px;
}

.mt-40 {
  margin-top: 40px;
}

.full-width {
  width: 100%;
}

.ml-5 {
  margin-left: 5px
}