

.botao {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  border: none;

  &:hover {
    background-color: #0056b3;
  }
}


.left-image {
  width: 95%;         /* aumenta */
  max-width: 520px;   /* limite para não explodir */
  margin-top: -40px;  /* sobe */
}
