img {
  height: 150px;
  width: auto;
  object-fit: contain;
  margin-right: 8px;
}

.centro {
  display: block;
  margin: 0 auto;
  margin: 110px auto 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;    
  gap: 20px;             
  margin-top: 60px;  
}

.botao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;  
  padding: -2px 50px;
  min-width: 180px;
  height: 50px;            
  border: 2.5px solid #003984;
  background-color: white;
  color: #003984 !important;
  border-radius: 10px;   
}

.botao mat-icon {
  font-size: 28px;     
  color: #003984;
  align-items: center;
  width: 30px; 
}

.botao:hover {
  background-color: #003984 !important;
  color: white !important;
}

.botao:hover mat-icon {
  color: white !important;
}
p {
  color:#00275b;
}
